span {
  font-family: "Nunito";
  font-weight: bolder;
}

input[type="text"] {
  font-family: "Nunito";
  font-weight: bolder;
}

button.btn-layout-sign-in {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 900;
}

#username-helper-text,#password-helper-text{
  font-family: "Nunito";
}